#tableContainer{
    height: 50%;
}

#chartContainer{
    padding-top: 15px;
}

#chart{
    width:45%;
    height:40%;
}

.esri-select{
    width: initial;
    display: inline-block;
    padding-right: 25px; 
}

.esri-button{
    width: initial;
    margin: 5px;
    display: inline-block;
}

#YAttributesDiv{
    display: inline-block;
}

.plusminus-group .esri-button{
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    transform: translate(0%, 35%); 
    border: 1px solid #000000;
}
.plusminus-group .esri-button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.plusminus-group{
    display: inline-block;
    width: 64px;
    height: 32px;
}