:root {
    --blue: #6C756B;
}

html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    border-color:  var(--blue);
}

/* Textbox to the right of the Foret-Climat Logo */

#textBoxDiv {
    background-color: rgb(245, 245, 245, 0.8);
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: var(--calcite-font-size-0);
    width: 165px;
    height: 165px;
}

#logoPasserelle {
    width: 165px;
}

#tutorialHelp {
    position: fixed;
    bottom: 195px;
    right: 15px;
    background-color : rgba(245, 245, 245, 1);
    border-radius: 50%;
    border: 1px;
    font-family: monospace;
}

/* Search bar */
.esri-search {
    position: fixed;
    padding: 5px;
    top: 200px;
    left: 20px;
    width: 350px;
    height: 40px;
}

/* compass */
.esri-compass{
    position: fixed;
    padding: 5px;
    bottom: 148px;
    right: 15px;
}

/* locate button */
.esri-locate{
    position: fixed;
    padding: 5px;
    bottom: 105px;
    right: 15px;
}

.esri-layer-list{
    position: fixed;
    bottom: 30px;
    right: 60px;
    height: 198px;
}


/* docked popup window */
.esri-popup--is-docked{
    position: fixed;
    top: 90px;
    right: 10px;
}

/* opacity when showing the tutorial */

#blackBG{
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    display:none
}

.tutorialButton{
    border-radius: 2px;
    color: rgb(20,20,20);
    width: 20%;
    cursor:pointer;
}

#tutorialBox {
    z-index: 1001;
    border-radius: 10px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    position:absolute;
    height: auto;
    width: auto;
    padding: 10px;
    background-color: rgb(245, 245, 245, 0.8);
    transition: top 0.3s, bottom 0.3s, left 0.3s, right 0.3s, display 0.5s;
    transform: translate(50%, -50%);
    display: none;
}

/* Profile icon*/

#account {
    position: fixed;
    top: 20px;
    right: 75px;
    padding: 0px;
    width: 50px;
    border-radius: 50%;
    background-color : rgba(245, 245, 245, 1);
    border-color: var(--blue);
}

.container {
    position: fixed;
    top: 25px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--blue);
    margin: 4px 0;
    border: 1px solid rgba(200, 200, 200, 1);
    transition: 0.4s;
    border-radius:10%;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Div of partner logos */

.sidenav #partLogoDiv {
    position: fixed;
    bottom: 25px;
    margin-left: 100px;
    display: block;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: var(--blue);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a#greeter{
    font-size: 18px;
    text-align: right;
    white-space: nowrap;
}

.sidenav a.SidenavElement {
    text-decoration: underline;
    text-decoration-color: rgba(200, 200, 200, 0);
    transition: text-decoration-color 250ms;
}

.sidenav a.SidenavElement.lang {
    font-size: var(--calcite-font-size-0);
    position: fixed;
    bottom: 20px;
    margin-right: 20px;
}

/* When you mouse over the navigation links, change their color */

.sidenav a.SidenavElement:hover {
    text-decoration-color: rgba(200, 200, 200, 1);
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 6px;
    right: 13px;
    font-size: 48px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}